@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url(../../assets/fonts/Roboto-Regular.woff2) format('woff2'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(../../assets/fonts/Roboto-Bold.woff2) format('woff2'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

html, body, div, span, h1, h3, h4, p, a, code, em, img, ul, li, table, tbody, tr, td {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; 
}

body {
  background-color: #ffffff;
  font-family: Helvetica, freesans, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word; 
}

h1, h2, h3 {
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  font-weight: 100;
  color: black; 
}

h1 {
  font-size: 2.5em; 
}

h2 {
  font-size: 2em;
  border-bottom: 1px solid #e2e2e2; 
}

h4 {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 21px; 
}

h5 {
  font-size: 1.1em; 
}

h6 {
  font-size: 1.1em;
  color: #777; 
}

.section-name {
  color: gray;
  display: block;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 15px; 
}

pre, code {
  font: 0.95em Menlo, monospace;
  color: #777;
  word-wrap: normal; 
  overflow: auto;
}

p code, li code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px; 
}

a {
  color: #0088cc;
  text-decoration: none; 
}

ul {
  padding-left: 15px; 
}

li {
  line-height: 1.8em; 
}

img {
  max-width: 100%; 
}

blockquote {
  margin-left: 0;
  padding: 0 10px;
  border-left: 4px solid #ccc; 
}

.content-wrapper {
  margin: 0 auto;
  width: auto; 
}

header {
  display: none;
}

#breadcrumbs {
  display: none;
}

.sidebar {
  border: 0px solid;
  border-right: 15px solid rgb(220, 220, 220);
  width: 300px;
  word-wrap: normal; 
}

.nav-groups {
  list-style-type: none;
  background: #fff;
  padding-left: 0; 
}

.nav-group-name {
  font-size: 1.1em;
  font-weight: 500;
  padding: 15px 0 15px 20px; 
}
.nav-group-name > a {
  color: #333; 
  font-weight: bold;
}

.nav-group-tasks {
  margin-top: 5px; 
}

.nav-group-task {
  font-size: 0.9em;
  list-style-type: none;
  white-space: nowrap; 
}
  .nav-group-task a {
    color: #888; 
  }

.main-content {
  position: absolute;
  top: 0px;
  right: 10px;
  left: 300px;
  border-left: 15px solid rgb(220, 220, 220);
  margin-right: 15px;
}
.main-content p, .main-content a, .main-content code, .main-content em, .main-content ul, .main-content table, .main-content blockquote {
  margin-bottom: 1em; 
}

.main-content p {
  line-height: 1.8em; 
}

.main-content section .section:first-child {
  margin-top: 0;
  padding-top: 0; 
}

.main-content section .task-group-section .task-group:first-of-type {
  padding-top: 10px; 
}

.main-content section .task-group-section .task-group:first-of-type .section-name {
  padding-top: 15px; 
}

.main-content section .heading:before {
  content: "";
  display: block;
  padding-top: 70px;
  margin: -70px 0 0; 
}

.section {
  padding: 0 25px; 
}

.highlight {
  background-color: #eee;
  padding: 10px 12px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  overflow-x: auto; 
}

.declaration .highlight {
  overflow-x: initial;
  padding: 0 40px 40px 0;
  margin-bottom: -25px;
  background-color: transparent;
  border: none; 
}

.section-name {
  margin: 0;
  margin-left: 18px; 
}

.task-group-section {
  padding-left: 6px;
  border-top: 1px solid #e2e2e2; 
  padding-top: 20px;
}

.task-group {
  padding-top: 0px; 
}

.task-name-container a[name]:before {
  content: "";
  display: block;
  padding-top: 70px;
  margin: -70px 0 0; 
}

.item {
  padding-left: 12px;
  width: auto;
  list-style-type: none; 
  border-left: 5px solid #aaa;
  margin-left: 5px;
  margin-bottom: 30px;
}
.item code {
  background-color: transparent;
  padding: 0; 
}
.item .token {
  padding-left: 3px;
  font-size: 120%; 
}


.height-container .section {
  left: -25px;
  position: relative;
  width: auto;
  padding-top: 10px;
  padding-bottom: 5px; 
}

.aside, .language {
  padding: 6px 12px;
  margin: 12px 0;
  border-left: 5px solid #dddddd;
  overflow-y: hidden; 
}
.aside .aside-title, .language .aside-title {
  font-size: 9px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin: 0;
  color: #aaa;
  -webkit-user-select: none; 
}
.aside p:last-child, .language p:last-child {
  margin-bottom: 0; 
}

.language {
  border-left: 5px solid #cde9f4; 
}
.language .aside-title {
  color: #4b8afb; 
  display: none;
}

.aside-warning {
  border-left: 5px solid #ff6666; 
}
.aside-warning .aside-title {
  color: #ff0000; 
}

.graybox {
  border-collapse: collapse;
  width: auto; 
}
.graybox p {
  margin: 0;
  word-break: break-word;
  min-width: 50px; 
}
.graybox td {
  border: 1px solid #e2e2e2;
  padding: 5px 25px 5px 10px;
  vertical-align: middle; 
}
.graybox tr td:first-of-type {
  text-align: right;
  padding: 7px;
  vertical-align: top;
  word-break: normal;
  width: 40px; 
}

.slightly-smaller {
  font-size: 0.9em; 
}

#footer {
  display: none;
}



html.dash header, html.dash #breadcrumbs, html.dash .sidebar {
  display: none; 
}
html.dash .main-content {
  width: 980px;
  margin-left: 0;
  border: none;
  top: 0;
  padding-bottom: 0; 
}
html.dash .height-container {
  display: block; 
}
html.dash .item .token {
  margin-left: 0; 
}
html.dash .content-wrapper {
  width: auto; 
}
html.dash #footer {
  position: static; 
}


#projectname
{
	font-family: Roboto,Arial,sans-serif;
	color: rgb(70, 70, 70);
	font-weight: bold;
	font-size: 24px;
}

#sdknum
{
	font-family: Roboto, Arial,sans-serif;
	color: #de3919;
	font-weight: 100;
	font-size: 16px;
	margin-left: 5px;
}

#projectbrief
{
	font-family: Roboto, Arial,sans-serif;
  margin-top: -5px;
	color: rgb(104, 104, 104);
	font-weight: bold;
	font-size: 18px;
}
    
#timnum
{
	font-family: Roboto, Arial,sans-serif;
	color: #de3919;
	font-weight: 100;
	font-size: 15px;
	margin-left: 5px;
}

#guidelink
{
  font-family: Roboto, Arial,sans-serif;
	padding: 0px;
	margin-top: 10px;
	color: #337ab7;
}

#titlearea
{
  padding-top: 22px;
  padding-left: 22px;
  padding-bottom: 10px;
  background-color: rgb(240, 240, 240);
  border-bottom: 15px solid #dddddd;
}